{% extends 'main.html' %}

{% block title %}
    {{ space.title }}
{% endblock title %}

{% block content %}
    <a href="{% url 'spaces:space_update' space.pk %}">Изменить</a> | 
    <a href="{% url 'spaces:space_delete' space.pk %}">Удалить</a> | 
    <a href="/">Назад</a>
    <h2>Парковочное место: {{ space.title }}</h2>
    <p>Статус: {{ space.status }}</p>
    <a href="{% url 'spaces:reserve_list' %}"><h3>История парковок</h3></a>
{% endblock content %}
