{% extends 'main.html' %}

{% block title %}
    Parking Spaces
{% endblock title %}

{% block content %}
    <p><a href="{% url 'spaces:space_create' %}">Добавить новое парковочное место</a></p>
    <h3>Парковочные места</h3>
    {% if spaces %}
        <form method="GET" action="{% url 'spaces:reserve_create' %}">
            <button type="submit"><h3>Бронировать</h3></button>
        </form>
        {% for space in spaces %}
            <a href="{% url 'spaces:space' space.pk %}">
                <div>
                    <h3>{{ space.title }}</h3>
                    <p>Статус: {{ space.status }}</p
                </div>
            </a>
        {% endfor %}
    {% else %}
        Нет парковочных мест!
    {% endif %}
{% endblock content %}
