{% extends 'main.html' %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <h2> Войти в систему </h2>
    <form method="post" action="{% url 'spaces:login' %}">
        {% csrf_token %}
            <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="Войти">
    </form>
    <button> <a href="/"> Назад </a></button>
{% endblock %}
