{% extends 'main.html' %}

{% block title %}New Booking{% endblock title %}
 
{% block content %}
    <a href="/reserve/">Назад</a>
    <h3>Информация о бронировании парковочного места</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }} 
        <input type="submit" value="Сохранить">
    </form>
{% endblock content %}
