{% extends 'main.html' %}

{% block title %}
    {{ reserve.space }} at {{ reserve.start_time }}
{% endblock title %}

{% block content %}
    <h2>Вы действительно хотите удалить данные о бронировании?</h2>
    <h3>Парковочное место: {{ reserve.space.title }}</h3>
    <h4>Сотрудник: {{ reserve.employee }}</h4>
    <p>Дата и время создания: {{ reserve.created }}</p>
    <p>Дата и время начала: {{ reserve.start_time }}</p>
    <p>Продолжительность: {{ reserve.duration }} часов.</p>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Удалить">
    </form>
{% endblock content %}
