{% extends 'main.html' %}

{% block title %}
    Reserves
{% endblock title %}

{% block content %}
    <p>
        <a href="{% url 'spaces:reserve_create' %}">Добавить</a> | 
        <a href="/">Назад</a>
    </p>
    <h2>Список бронирований</h2>
    {% if reserves %}
        <!-- <form method="GET" action="{% url 'spaces:reserve_create' %}">
            <button type="submit"><h3>Бронировать</h3></button>
        </form> -->
        {% for reserve in reserves %}
            <div>
                <h3>Парковочное место: {{ reserve.space.title }}</h3>
                <!-- <h4>Сотрудник: {{ reserve.employee }}</h4> -->
                <!-- <p>Дата и время создания: {{ reserve.created }}</p> -->
                <p>Дата и время начала: {{ reserve.start_time }}</p>
                <p>Продолжительность: {{ reserve.duration }} ч.</p>
                <a href="{% url 'spaces:reserve_detail' reserve.pk %}">Подробнее</a>
            </div>
            
        {% endfor %}
    {% else %}
        Бронирования не было!
    {% endif %}
{% endblock content %}
