{% extends 'main.html' %}

{% block title %}
    {{ reserve.space }} at {{ reserve.start_time }}
{% endblock title %}

{% block content %}
    <a href="{% url 'spaces:reserve_update' reserve.pk %}">Изменить</a> | 
    <a href="{% url 'spaces:reserve_delete' reserve.pk %}">Удалить</a> | 
    <a href="/reserve/">Назад</a>
    <h3>Парковочное место: {{ reserve.space.title }}</h3>
    <h4>Сотрудник: {{ reserve.employee }}</h4>
    <p>Дата и время создания: {{ reserve.created }}</p>
    <p>Дата и время начала: {{ reserve.start_time }}</p>
    <p>Продолжительность: {{ reserve.duration }} часов.</p>
    
{% endblock content %}
