{% extends 'main.html' %}

{% block title %}
    {{ space.title }}
{% endblock title %}

{% block content %}
    <h2>Вы действительно хотите удалить данное парковочное место?</h2>
    <h3>{{ space.title }}</h3>
    <!-- {{ space.created | date:'d M Y' }} -->
    <form method="POST">
    {% csrf_token %}
    <input type="submit" value="Удалить">
    </form>
{% endblock content %}
