{% extends 'main.html' %}

{% block title %} New Parking {% endblock title %}
 
{% block content %}
    <h3>Добавление парковочного места</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }} 
        <input type="submit" value="Сохранить">
    </form>
{% endblock content %}
