<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - Fregat Office Center</title>
</head>
<body>
    <header>
        <h1>Parking Space "Fregat Office Center"</h1>
        <a href="{% url 'spaces:login' %}">Войти</a> | 
        <a href="{% url 'spaces:logout' %}">Выйти</a>
        <hr>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <hr>
        <h2>Copyright Fregat Office Center</h2>
    </footer>
</body>
</html>
